@page "{id:int?}"
@model ITVitaeSVS.UI.Web.Areas.Topics.Pages.CreateEditModel
@{
}

<form method="post">
    <input type="hidden" name="Topic.Id" value="@Model.Topic.Id" />
    <input asp-for="Topic.Name" />
    <input type="submit" />
</form>