@page "{id:int?}"
@model ITVitaeSVS.UI.Web.Areas.Requisites.Pages.CreateEditModel
@{
}

<form method="post">
    <input type="hidden" value="@Model.Requisite.Id" />
    <input asp-for="Requisite.Name" />
    <input type="submit" />
</form>