@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(User.IsInRole("Admin")) {
        <a asp-area="Students" asp-page="Index">Students</a>
        <a asp-area="Topics" asp-page="Index">Topics</a>
        <a asp-area="Certificates" asp-page="Index">Certificates</a>
        <a asp-area="Tags" asp-page="Index">Tags</a>
        <a asp-area="Requisites" asp-page="Index">Requisites</a>
        <a asp-area="Levels" asp-page="Index">Levels</a>
        <a asp-area="WorkMethods" asp-page="Index">WorkMethods</a>
    }
</div>
