@page "{id:int?}"
@model ITVitaeSVS.UI.Web.Areas.Students.Pages.CreateEditModel
@{
}

<form method="post">
    <input type="hidden" value="@Model.Student.Id" />
    <input asp-for="Student.FirstName" />
    <input asp-for="Student.LastName" />
    <input asp-for="Student.EnrolledDate" />
    <input type="submit" />
</form>