@page
@using ITVitaeSVS.UI.Web.Areas.Subjects.Pages
@model ITVitaeSVS.UI.Web.Areas.Subjects.Pages.DetailsModel
@inject IStringLocalizer<DetailsModel> localizer
@{ ViewData["Title"] = @localizer["Title"];
}

<div>@Model.Subject.Name</div>

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @foreach(var topic in Model.Subject.Topics) {
                <tr>
                    <td>@topic.Code</td>
                    <td>@topic.Name</td>
                </tr>
            }
</table
