@page "{id:int?}"
@model ITVitaeSVS.UI.Web.Areas.WorkMethods.Pages.CreateEditModel
@{
}

<form method="post">
    <input type="hidden" name="WorkMethod.Id" value="@Model.WorkMethod.Id" />
    <input asp-for="WorkMethod.Name" />
    <input type="submit" />
</form>