@page
@model ITVitaeSVS.UI.Web.Areas.WorkMethods.Pages.IndexModel
@{
}

<a asp-page="CreateEdit">Create</a>

<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var method in Model.Methods) {
        <tr>
            <td>@method.Name</td>
            <td>
                <a asp-page="CreateEdit" asp-route-id="@method.Id">Edit</a>
            </td>
        </tr>
    }
</table>
