@page "/Students/Curricula/Edit/{id:int}"
@model ITVitaeSVS.UI.Web.Areas.Students.Pages.Curricula.EditModel
@{
    bool Checked(ITVitaeSVS.Core.Domain.Entities.Topic topic) {
        return Model.Student.Curriculum.Topics.Any(ct => ct.Topic == topic)?true:false;
    }
}
<div><a asp-area="Students" asp-page=Details asp-route-id=@Model.Student.Id>Back to Student</a></div>
<div><a asp-area="Students" asp-page=Index>Back to Students</a></div>

<form method="post">
    @foreach (var topic in Model.Topics) {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="topicIds" value="@topic.Id" checked="@Checked(topic)"/>
            <label class="form-check-label" for="flexCheckDefault">
                @topic.Code @topic.Name 
            </label>
        </div>
    }
    <div>
        <input type="submit" />
    </div>
</form>
